/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4a148c 0%, rgba(74, 20, 140, 0.7) 100%);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    min-height: 100%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3e1174;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h2 a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
}

.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info .icon {
    margin-right: 10px;
}

.header .user-info .icon img {
    height: 20px;
}

.main {
    background-color: rgba(74, 20, 140, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    backdrop-filter: blur(5px);
}

.main .profile {
    display: flex;
    align-items: center;
}

.main .profile img {
    height: 80px;
    margin-right: 20px;
}

.main .profile .details {
    display: flex;
    flex-direction: column;
}

.main .profile .details .name {
    font-size: 18px;
    font-weight: bold;
}

.main .profile .details .level {
    font-size: 14px;
}

.main .profile .details .progress {
    display: flex;
    align-items: center;
}

.main .profile .details .progress .bar {
    height: 10px;
    width: 100px;
    background-color: #e0e0e0;
    margin-right: 10px;
    position: relative;
}

.main .profile .details .progress .bar .fill {
    height: 100%;
    background-color: #ff5252;
    position: absolute;
    top: 0;
    left: 0;
}

.main .profile .details .progress .bar .fill.mana {
    background-color: #ffab40;
}

.main .cta {
    text-align: right;
}

.progress {
    width: 100%; /* Заполняет всю ширину родителя */
    background-color: rgba(255, 255, 255, 0.2); /* Фон для прогресс-бара */
    border-radius: 20px; /* Скругление краев */
    overflow: hidden; /* Обрезает содержимое за границами */
}

.bar {
    height: 20px; /* Высота прогресс-бара */
    background-color: #ccc; /* Цвет серой линии */
    border-radius: 20px; /* Скругление краев серой линии */
    position: relative; /* Для позиционирования заполненной части */
}

.fill {
    height: 100%; /* Заполняет всю высоту родительского контейнера */
    background-color: #4caf50; /* Цвет заполняемого прогресса */
    border-radius: 20px; /* Скругление краев заполненного прогресса */
    transition: width 0.3s ease; /* Плавный переход при изменении ширины */
    position: absolute; /* Позволяет заполнению правильно позиционироваться */
    top: 0; /* Выровнено по верхнему краю */
    left: 0; /* Выровнено по левому краю */
}


.main .cta button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.content {
    padding: 20px;
}

.content .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .columns .column {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: calc(30% - 40px);
    margin: 20px;
}

.content .columns .column h3 {
    margin-top: 0;
}

.content .columns .column .add-item {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .columns .column .item {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .columns .column .item .text {
    flex-grow: 1;
}

.content .columns .column .item .actions {
    display: flex;
    align-items: center;
}

.content .columns .column .item .actions .icon {
    margin-left: 10px;
    cursor: pointer;
}

.content .columns .column .item .actions .icon img {
    height: 20px;
}

.img {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.img img {
    width: 150%;
    max-width: 1200px;
    height: auto;
    opacity: 0.4;
}

/* Стили для окна */
.window {
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
}

.window::-webkit-scrollbar {
    width: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.window::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.window-title {
    margin: 20px 0;
    font-size: 2rem;
    text-transform: uppercase;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.character-button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(219, 198, 251);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    padding: 10px;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.character-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.character-image {
    max-width: 100%;
    max-height: 70%;
    object-fit: contain;
    display: block;
    margin: 10px 0 0 0;
    transition: transform 0.3s ease;
}

.character-button:hover .character-image {
    transform: scale(1.2);
}

.blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: white;
    height: 600px;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 10px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    color: red;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .content .columns .column {
        width: 100%;
        margin: 10px 0;
    }
}

.lavka-img{
    height: 150px;
    width: auto;
    margin-bottom: 40px;
}



#alns {
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
}

hr{
    width: 75%;

}

.user {
    display: flex;
    justify-content: space-between;
    cursor:  pointer;
    color: #e0e0e0;
    border: 2px solid rgb(219, 198, 251);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    margin: 10px;


}

#user-img{
    height: 100px;
    width: auto;
    border-radius: 4px;
    margin-right: 15px;
}

.main-alns a{
    text-decoration: none;
}

.main-alns a:hover .user{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}
/* Общие стили для блока поиска */
/* Общие стили для блока поиска */
.search-user {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: flex-start; /* Элементы выровнены слева */
    padding: 20px;
}

.user-name-input {
    height: 40px;
    width: 300px;
    padding: 10px; /* Внутренний отступ */
    margin-right: 20px; /* Отступ справа для кнопки поиска */
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid rgb(219, 198, 251); /* Прозрачный бордер */
    border-radius: 20px; /* Закругленные углы */
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    backdrop-filter: blur(15px); /* Размытие фона */
    -webkit-backdrop-filter: blur(15px); /* Поддержка WebKit */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень для кнопки */
}

/* Стили для кнопки поиска */
.search-button {
    display: inline-block;
    height: 60px; /* Совпадает с высотой поля ввода */
    width: 60px;
    cursor: pointer; /* Указатель при наведении */
    border: 2px solid rgb(219, 198, 251); /* Прозрачный бордер */
    border-radius: 20px; /* Закругленные углы */
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    backdrop-filter: blur(15px); /* Размытие фона */
    -webkit-backdrop-filter: blur(15px); /* Поддержка WebKit */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень для кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный эффект при наведении */
    text-align: center; /* Центровка изображения */
    overflow: hidden; /* Обрезать содержимое, выходящее за границы кнопки */
}

/* Изображение внутри кнопки */
.button-search-img {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Картинка подгоняется под размер кнопки */
    border-radius: 20px; /* Скругление углов изображения */
}

/* Эффект при наведении на кнопку */
.search-button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Более яркий фон при наведении */
}

.alns-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gerb{
    height: 90px;
    width: auto;
    padding: 30px;
}

#alns::-webkit-scrollbar {
    width: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#alns::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}


#inventary {
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
}



.modal-content {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-inventary {
    display: flex;
    text-align: center;
}

.main-inventary {
    display: flex;
    align-items: stretch; 
    margin-top: 20px;
    width: 100%;
}

.inventory-left {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между кнопками */
    margin-right: 20px; /* Отступ справа для отделения от вертикальной линии */
}

.inventory-btn {
    display: inline-block;
    height: 60px; /* Совпадает с высотой поля ввода */
    width: 120px;
    cursor: pointer; /* Указатель при наведении */
    border: 2px solid rgb(219, 198, 251); /* Прозрачный бордер */
    border-radius: 20px; /* Закругленные углы */
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    backdrop-filter: blur(15px); /* Размытие фона */
    -webkit-backdrop-filter: blur(15px); /* Поддержка WebKit */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень для кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный эффект при наведении */
    text-align: center; /* Центровка изображения */
    overflow: hidden; /* Обрезать содержимое, выходящее за границы кнопки */
    font-size: 25px;
    color: #e0e0e0;
}

.inventory-btn:hover {
    background-color: #e0e0e0;
}

.vertical-line {
    width: 4px;
    color: #e0e0e0;
    background-color: #ccc;
    height: auto; /* Полная высота блока */
    margin: 0 20px; /* Отступ слева и справа */
    border-radius: 2px;
}

.inventory-right {
    display: flex;
    flex-wrap: wrap; /* Позволяет иконкам переноситься на следующую строку */
    margin: 10px; /* Убираем отступы снаружи */
}

.inventory-category {
    display: flex; /* Убедитесь, что внутри есть flex */
    flex-wrap: wrap; /* Позволяет иконкам переноситься на следующую строку */
    margin: -5px; /* Убираем лишние отступы снаружи */
}

.inventory-category::-webkit-scrollbar {
    width: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.inventory-category::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.inventory-item {
    width: 80px; /* Фиксированная ширина */
    height: 80px; /* Фиксированная высота */
    object-fit: cover;
    border: 2px solid rgb(219, 198, 251); /* Прозрачный бордер */
    border-radius: 5px;
    margin: 5px; /* Отступы между иконками */
    box-sizing: border-box; /* Учитываем отступы и границы в размерах элемента */
}

.inventary-line {
    width: 100%; /* Задает 100% ширины родительского элемента */
    height: 2px; /* Задайте высоту линии */
    background-color:#e0e0e0; /* Цвет линии */
    border: none; /* Убираем стандартное оформление */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.large-photo-container {
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    align-items: center;
}

.large-photo {
    max-width: auto; /* Ограничивает ширину фотографии */
    max-height: 200px; /* Ограничивает высоту, чтобы не превышать размер контейнера */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.small-photos-container {
    display: flex;
    flex-direction: column; /* Размещает фотографии одна под другой */
    gap: 10px; /* Расстояние между фотографиями */
    margin-left: 20px; /* Отступ слева */
    margin-top: 65px;
}

.small-photo {
    width: auto; /* Ширина маленькой фотографии */
    height: 50px; /* Высота маленькой фотографии */
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}





/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .main-inventary {
        flex-direction: column;
        align-items: center;
    }

    .vertical-line {
        display: none; /* Убираем вертикальную линию на маленьких экранах */
    }
}
